# Project:
## Male & Female Features Prediction

Algo Use Decision Tree Classifier

In [43]:
from sklearn.tree import DecisionTreeClassifier
import pandas as pd

In [44]:
# create Data 
gender_features = {
    'Hair Length(inch)':[3.1 , 1 , 2.5 , 6.99 , 11.5 , 17 , 15 , 22 , 4.5],
    'Hijab':[0 , 0 , 0 , 0 , 1 , 1 , 1 , 1 , 0],
    'Height(ft)':[5.01 , 6.2 , 4.1 , 5.99 , 4.99 , 6.01 , 4.1 , 5.7 , 5.8],
    'Gender':['Male' , 'Male' , 'Male' , 'Male' , 'Female' , 'Female' , 'Female' , 'Female' ,'Male']
    } 
df = pd.DataFrame(gender_features)
df

   Hair Length(inch)  Hijab  Height(ft)  Gender
0               3.10      0        5.01    Male
1               1.00      0        6.20    Male
2               2.50      0        4.10    Male
3               6.99      0        5.99    Male
4              11.50      1        4.99  Female
5              17.00      1        6.01  Female
6              15.00      1        4.10  Female
7              22.00      1        5.70  Female
8               4.50      0        5.80    Male

In [45]:
# DATA FRAME CONVERT TO .CSV FILE
df_convert_csv = df.to_csv('Gender_Selection.csv')

In [46]:
call_csv = pd.read_csv('C:/Users/Muhammad Yahya/Downloads/python/ML With ScikitLearn/Supervised Learning Algorithms/Gender_Selection.csv' , index_col=[0])
my_df = call_csv
my_df

   Hair Length(inch)  Hijab  Height(ft)  Gender
0               3.10      0        5.01    Male
1               1.00      0        6.20    Male
2               2.50      0        4.10    Male
3               6.99      0        5.99    Male
4              11.50      1        4.99  Female
5              17.00      1        6.01  Female
6              15.00      1        4.10  Female
7              22.00      1        5.70  Female
8               4.50      0        5.80    Male

In [47]:
# create 2 variables
X = my_df[['Hair Length(inch)' , 'Hijab' , 'Height(ft)']] #independent var / features
y = my_df['Gender'] #target var / label

In [48]:
# build & fit model 
model = DecisionTreeClassifier()
model = model.fit(X , y)

In [64]:
actual = pd.DataFrame([[3.10 , 0 , 5.01]] , columns=['Hair Length(inch)' , 'Hijab' , 'Height(ft)'])
actual = model.predict(actual)[0]
print(actual)

predicted = pd.DataFrame([[19 , 0 , 6]] , columns=['Hair Length(inch)' , 'Hijab' , 'Height(ft)'])
predicted = model.predict(predicted)[0]
print(predicted)

Male
Female

In [67]:
if (actual == 'Male' and predicted == 'Male'):
    print('You are allowed "male" class')
else:    
    print('You are allowed "female" class')

You are allowed "female" class