# Student Score Prediction

In [83]:
# import libraries 
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error , mean_squared_error
import numpy as np

In [ ]:
# create data 
student_data = {
    'Hours':[1 , 2 , 3 , 4 , 5 , 6],
    'Score':[40 , 50 , 62 , 75 , 88 , 97]
}
# convert dataframe 
df = pd.DataFrame(student_data)
df

   Hours  Score
0      1     40
1      2     50
2      3     62
3      4     75
4      5     88
5      6     97

In [85]:
# df convert to csv file 
df.to_csv('StudentExamScore.csv')

In [86]:
# now call csv 
my_df = pd.read_csv('C:/Users/Muhammad Yahya/Downloads/python/ML With ScikitLearn/Supervised Learning Algorithms/Projects/Project1_Use_Algo_Linear_Regression/StudentExamScore.csv' , index_col=[0])
my_df

   Hours  Score
0      1     40
1      2     50
2      3     62
3      4     75
4      5     88
5      6     97

In [ ]:
# new var 
X = my_df[['Hours']] #independent var / input features
y = my_df['Score'] #dependent var / label

In [ ]:
# model 
model = LinearRegression() 
model = model.fit(X , y)

In [ ]:
# prediction 
predicted_score = model.predict(X)
predicted_score

array([39.23809524, 51.00952381, 62.78095238, 74.55238095, 86.32380952,
       98.0952381 ])

In [90]:
# MODEL EVALUATION 
mae = mean_absolute_error(y , predicted_score)
mse = mean_squared_error(y , predicted_score)
rmse = np.sqrt(mse)

In [91]:
print(f'MAE = {mae}')
print(f'MSE = {mse}')
print(f'RMSE = {rmse}')

MAE = 0.961904761904762
MSE = 1.0698412698412698
RMSE = 1.0343313153150058